[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/stt
[access "refs/for/refs/*"]
	read = group user/stt
	push = group user/stt
	label-Code-Review = -2..+2 group user/stt
	label-Verified = -1..+1 group user/stt
	rebase = group user/stt
	removeReviewer = group user/stt
	submit = group user/stt
[access "refs/heads/*"]
	read = group user/stt
	create = group user/stt
	push = +force group user/stt
	pushMerge = group user/stt
[access "refs/tags/*"]
	push = +force group user/stt
	pushTag = group user/stt
	pushSignedTag = group user/stt
